- name: install packages
  become: yes
  apt:
    name: "{{ item.name }}"
    state: "{{ item.state | default('latest') }}"
  with_items:
    - name: software-properties-common
    - name: curl
    - name: git
    - name: tig
    - name: fish
    - name: tree
    - name: emacs
    - name: vim-gnome
    - name: ansible
    - name: python-apt

- include_tasks: bash-d.yml
  become: no
